server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: wastewater-system
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1

        - id: monitor-service
          uri: lb://monitor-service
          predicates:
            - Path=/api/monitor/**
          filters:
            - StripPrefix=1  # monitor 用 1
            - name: AuthFilter

        - id: system-service
          uri: lb://system-service
          predicates:
            - Path=/api/system/**
          filters:
            - StripPrefix=2  # system 用 2
            - name: AuthFilter

      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: false
            maxAge: 3600

jwt:
  secret: 1234567890123456789012345678901234567890123456789012345678901234
  expiration: 86400000

logging:
  level:
    com.sewage.gateway: debug
    org.springframework.cloud.gateway: debug